<div class="event">
  <div class="content">
    <div class="summary">
      <a><%= message.user.username %>:</a> <%= message.body %>
      <div class="date">
        4 days ago
      </div>
    </div>
  </div>
</div>